
body {
    font-family: Arial, Helvetica, sans-serif;
}

.recipe-card img {
    margin-bottom: -80px;
}

h1 {
    color: darkseagreen;
}

.recipe-card {
    width: 500px;
    background-color: antiquewhite;
    text-align: center;
    border: 2px solid darkseagreen
}

ul img {
    margin-top: -140px;
    margin-left: -45px;
}

ul li {
    margin-top: -50px;
    margin-left: -45px;
    margin-bottom: 20px;
}


h2,
a {
    text-transform: uppercase;
}

a,
ul {
    color: black;
    text-decoration: underline;
    list-style: none;
    font-weight: 700;
    text-align: center;
}